.task p, .task h1 {
  text-align: left;
}

.task h1 {
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 7px;
}

.task {
  text-align: right;
  margin: 10px 0 ;
  padding: 6px;
  border-radius: 5px;
  background: #F1EFFF;
  animation: fadeIn 2s;
  /* animation: fadeOut 2s forwards; */
}

.task p {
  padding: 0 3px;
}

.taskDescription {
  margin: 10px 0;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  overflow: hidden;
}

.buttonActions {
  display: flex;
  flex-direction: row-reverse
}

.buttonActions button {
  background: #7159C1;
  color: #FFF;
  border: none;
  margin: 5px;
  padding: 8px;
  font-size: 13px;
  border-radius: 5px;
}

.isDeleted {
  animation: fadeOut 2s forwards;
}

@keyframes fadeIn {
  /* from {
    opacity: 0;
  }

  to {
    opacity: 1;
  } */
}

@keyframes fadeOut {
  /* from {
    opacity: 1;
    transform: translate(0);
  }

  to {
    opacity: 0;
    transform: translateY(-400px);
    display: none
  }  */
}