body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4b4b4b;
}

* {
  box-sizing: border-box;
}

h1, h2, ul, li, p {
  margin: 0;
  padding: 0;
}

.button {
  position: fixed;
  bottom: 10px;
  right: 10px; 
}

.button button {
  border-radius: 50%;
}